html{
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

h1{
    
    font-size: 3.75rem;
    font-weight: normal;
}

h2{
    font-size: 2.625rem;
    font-weight: 300;
}
img{
    display: flex;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    margin:auto;
    padding-top: 1.5rem;
    
    
}

p{
    font-size: 1.3125;
    color: gray;
} 
a{
    color: aquamarine;
}
footer{
    text-align: right;
}
